@model ST10296167_PROG6212_POE.Models.Report

<head>
    <style>
        h1 {
            font-size: 70px;
            margin-bottom: 20px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        h2 {
            font-size: 50px;
            font-family: 'Eras ITC',sans-serif;
            margin-bottom: 20px;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        label {
            font-size: 25px;
            margin-top: 0px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid grey;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: limegreen;
            font-weight: bold;
        }

        tr {
            background-color: white;
        }

        button {
            background-color: dodgerblue;
            height: 60px;
            width: 300px;
            font-weight: bold;
            border-radius: 20px;
            font-size: 30px;
            margin-top: 15px;
        }

        p {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .back-button {
            position: absolute;
            top: 80px;
            left: 20px;
            padding: 10px 15px;
            background-color: darkblue;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

            .back-button:hover {
                background-color: #45a049;
            }

        .inputBorder {
            display: inline-block;
            padding: 20px;
            border: 2px solid darkgray;
            background-color: white;
            border-radius: 100px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 500px;
            height: 330px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        h3 {
            font-weight: bolder;
            font-size: 35px;
        }
    </style>
</head>

<body>
    <a href="@Url.Action("Dashboard", "HR")" class="back-button">Back</a>

    <h1>Report</h1>

    @if (!Model.FilteredClaims.Any())
    {
        <p>No Approved Claims were found</p>
    }
    else
    {
        <h2>Approved Claims </h2>
        <table>
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Lecturer ID</th>
                    <th>Claim Month</th>
                    <th>Hours Worked</th>
                    <th>Hourly Rate</th>
                    <th>Amount Due</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in Model.FilteredClaims)
                {
                    <tr>
                        <td>@claim.ClaimID</td>
                        <td>@claim.LecturerID</td>
                        <td>@claim.ClaimMonth</td>
                        <td>@claim.HoursWorked</td>
                        <td>@claim.HourlyRate</td>
                        <td>@claim.ClaimAmount</td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Summary</h2>
        <div class="inputBorder">
            <h3 style="color:deepskyblue">Total</h3>
            <label>Claims</label> <br />
            <p>@Model.TotalClaimsCount</p> 
            <label>Claims Value</label> <br />
            <p>R @Model.TotalClaimsValue</p> 
            <label>Hours Worked</label> <br />
            <p>@Model.TotalHoursWorked hours</p>
        </div>

        <div class="inputBorder">
            <h3 style="color: darkorange">Average</h3>
            <label>Claim Value</label> <br />
            <p>R @Model.AverageClaimAmount</p> 
            <label>Hours Worked</label> <br />
            <p>@Model.AverageHoursWorked hours</p> 
            <label>Hourly Rate</label> <br />
            <p>R @Model.AverageHourlyRate</p>
        </div>
    }
</body>